*,
*:before,
*:after {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

main {
    font-family: Avenir, Roboto, Helvetica, san-serif;
    font-size: 0.8rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1dc;
}

li {
    float: left;
}

a {
    display: block;
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #f5f5dc;
    text-transform: uppercase;
}

a:hover {
    background-color: #f1f1dc;
}

article button {
    background: beige;
}

article {
    -webkit-box-shadow: 0px 0px 36px -27px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 0px 0px 36px -27px rgba(0, 0, 0, 0.69);
    box-shadow: 0px 0px 36px -27px rgba(0, 0, 0, 0.69);
    border-radius: 1%;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.sale-item {
    display: flex;
    flex-flow: column;
    margin: 1rem;
    padding: 1rem;
}

.sale-item button {
    padding: 10px 0px;
    margin: 5px 0;
    background-color: beige;
}

button:hover {
    background-color: #f1f1dc;
}

.sale-item img {
    align-self: center;
}

.sale {
    width: 20%;
}

.veg {
    width: 20%;
}

.sold {
    width: 50%;
}

.price {
    text-decoration: line-through;
}

.discount {
    color: red;
}

.header {
    background-color: beige;
    display: grid;
    grid-auto-flow: column;

}

.logo {
    width: 100px;
}



.footer {
    background-color: beige;
    display: grid;
    grid-auto-flow: column;
}


img.picture {
    width: 100%;
}

.hide {
    display: none;
}

.modal-background {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #7c1f17;
    margin: 1em;
    padding: 2em;
}

body h4 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 3px 2px beige;
}

.modal-image {
    width: 100%;
}

.sale-item h1 {
    font-size: 1.2rem;
    text-shadow: 3px 2px beige;
}

.sale-item p {
    font-size: 1rem;
}

.modal-name {
    font-size: 1.2rem;
    text-shadow: 3px 2px beige;
}

.modal-description {
    font-size: 1rem;
}

.modal-price {
    text-decoration: line-through;
}

.modal-discount {
    color: red;
}
